<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpgo.sdtool.mapper.StableDiffusionPatternMapper">

    <resultMap type="StableDiffusionPattern" id="StableDiffusionPatternResult">
        <result property="patternId"    column="pattern_id"    />
        <result property="model"    column="model"    />
        <result property="positiveprompt"    column="positivePrompt"    />
        <result property="negativeprompt"    column="negativePrompt"    />
        <result property="sampleimage"    column="sampleImage"    />
        <result property="presettemplate"    column="presetTemplate"    />
        <result property="patternstyle"    column="patternStyle"    />
        <result property="parametersJson"    column="parameters_json"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStableDiffusionPatternVo">
        select pattern_id, model, positivePrompt, negativePrompt, sampleImage, presetTemplate, patternStyle, parameters_json, del_flag, create_by, create_time, update_by, update_time from stable_diffusion_pattern
    </sql>

    <select id="selectStableDiffusionPatternList" parameterType="StableDiffusionPattern" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        <where>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="positiveprompt != null  and positiveprompt != ''"> and positivePrompt = #{positiveprompt}</if>
            <if test="negativeprompt != null  and negativeprompt != ''"> and negativePrompt = #{negativeprompt}</if>
            <if test="sampleimage != null  and sampleimage != ''"> and sampleImage = #{sampleimage}</if>
            <if test="presettemplate != null  and presettemplate != ''"> and presetTemplate = #{presettemplate}</if>
            <if test="patternstyle != null  and patternstyle != ''"> and patternStyle = #{patternstyle}</if>
        </where>
    </select>

    <select id="selectStableDiffusionPatternListByPatternIds" parameterType="map" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        <where>
            pattern_id in
            <foreach item="patternId" collection="patternIds" open="(" separator="," close=")">
                #{patternId}
            </foreach>
        </where>
    </select>

    <select id="selectStableDiffusionPatternByPatternId" parameterType="Long" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        where pattern_id = #{patternId}
    </select>

    <insert id="insertStableDiffusionPattern" parameterType="StableDiffusionPattern" useGeneratedKeys="true" keyProperty="patternId">
        insert into stable_diffusion_pattern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="model != null">model,</if>
            <if test="positiveprompt != null">positivePrompt,</if>
            <if test="negativeprompt != null">negativePrompt,</if>
            <if test="sampleimage != null">sampleImage,</if>
            <if test="presettemplate != null">presetTemplate,</if>
            <if test="patternstyle != null">patternStyle,</if>
            <if test="parametersJson != null">parameters_json,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="model != null">#{model},</if>
            <if test="positiveprompt != null">#{positiveprompt},</if>
            <if test="negativeprompt != null">#{negativeprompt},</if>
            <if test="sampleimage != null">#{sampleimage},</if>
            <if test="presettemplate != null">#{presettemplate},</if>
            <if test="patternstyle != null">#{patternstyle},</if>
            <if test="parametersJson != null">#{parametersJson},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStableDiffusionPattern" parameterType="StableDiffusionPattern">
        update stable_diffusion_pattern
        <trim prefix="SET" suffixOverrides=",">
            <if test="model != null">model = #{model},</if>
            <if test="positiveprompt != null">positivePrompt = #{positiveprompt},</if>
            <if test="negativeprompt != null">negativePrompt = #{negativeprompt},</if>
            <if test="sampleimage != null">sampleImage = #{sampleimage},</if>
            <if test="presettemplate != null">presetTemplate = #{presettemplate},</if>
            <if test="patternstyle != null">patternStyle = #{patternstyle},</if>
            <if test="parametersJson != null">parameters_json = #{parametersJson},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pattern_id = #{patternId}
    </update>

    <delete id="deleteStableDiffusionPatternByPatternId" parameterType="Long">
        delete from stable_diffusion_pattern where pattern_id = #{patternId}
    </delete>

    <delete id="deleteStableDiffusionPatternByPatternIds" parameterType="String">
        delete from stable_diffusion_pattern where pattern_id in
        <foreach item="patternId" collection="array" open="(" separator="," close=")">
            #{patternId}
        </foreach>
    </delete>
</mapper>
