<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.alpgo.sdtool.mapper.StableDiffusionPatternMapper">
    <resultMap type="StableDiffusionPattern" id="StableDiffusionPatternResult">
        <result property="patternId"    column="pattern_id"    />
        <result property="model"    column="model"    />
        <result property="positivePrompt"    column="positive_prompt"    />
        <result property="negativePrompt"    column="negative_prompt"    />
        <result property="sampleImage"    column="sample_image"    />
        <result property="presetTemplate"    column="preset_template"    />
        <result property="patternStyle"    column="pattern_style"    />
        <result property="parametersJson"    column="parameters_json"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStableDiffusionPatternVo">
        select pattern_id, model, positive_prompt, negative_prompt, sample_image, preset_template, pattern_style, parameters_json, del_flag, create_by, create_time, update_by, update_time from stable_diffusion_pattern
    </sql>

    <select id="selectStableDiffusionPatternList" parameterType="StableDiffusionPattern" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        <where>
            <if test="model != null  and model != ''"> and model = #{model}</if>
            <if test="positivePrompt != null  and positivePrompt != ''"> and positive_prompt = #{positivePrompt}</if>
            <if test="negativePrompt != null  and negativePrompt != ''"> and negative_prompt = #{negativePrompt}</if>
            <if test="sampleImage != null  and sampleImage != ''"> and sample_image = #{sampleImage}</if>
            <if test="presetTemplate != null  and presetTemplate != ''"> and preset_template = #{presetTemplate}</if>
            <if test="patternStyle != null  and patternStyle != ''"> and pattern_style = #{patternStyle}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectStableDiffusionPatternListByPatternIds" parameterType="map" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        <where>
            pattern_id in
            <foreach item="patternId" collection="patternIds" open="(" separator="," close=")">
                #{patternId}
            </foreach>
        </where>
    </select>

    <select id="selectStableDiffusionPatternByPatternId" parameterType="Long" resultMap="StableDiffusionPatternResult">
        <include refid="selectStableDiffusionPatternVo"/>
        where pattern_id = #{patternId}
    </select>

    <insert id="insertStableDiffusionPattern" parameterType="StableDiffusionPattern" useGeneratedKeys="true" keyProperty="patternId">
        insert into stable_diffusion_pattern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="model != null">model,</if>
            <if test="positivePrompt != null">positive_prompt,</if>
            <if test="negativePrompt != null">negative_prompt,</if>
            <if test="sampleImage != null">sample_image,</if>
            <if test="presetTemplate != null">preset_template,</if>
            <if test="patternStyle != null">pattern_style,</if>
            <if test="parametersJson != null">parameters_json,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="model != null">#{model},</if>
            <if test="positivePrompt != null">#{positivePrompt},</if>
            <if test="negativePrompt != null">#{negativePrompt},</if>
            <if test="sampleImage != null">#{sampleImage},</if>
            <if test="presetTemplate != null">#{presetTemplate},</if>
            <if test="patternStyle != null">#{patternStyle},</if>
            <if test="parametersJson != null">#{parametersJson},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStableDiffusionPattern" parameterType="StableDiffusionPattern">
        update stable_diffusion_pattern
        <trim prefix="SET" suffixOverrides=",">
            <if test="model != null">model = #{model},</if>
            <if test="positivePrompt != null">positive_prompt = #{positivePrompt},</if>
            <if test="negativePrompt != null">negative_prompt = #{negativePrompt},</if>
            <if test="sampleImage != null">sample_image = #{sampleImage},</if>
            <if test="presetTemplate != null">preset_template = #{presetTemplate},</if>
            <if test="patternStyle != null">pattern_style = #{patternStyle},</if>
            <if test="parametersJson != null">parameters_json = #{parametersJson},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pattern_id = #{patternId}
    </update>

    <update id="updateStableDiffusionPatternSampleImage" parameterType="StableDiffusionPattern">
        update stable_diffusion_pattern
        <trim prefix="SET" suffixOverrides=",">
            <if test="sampleImage != null">sample_image = #{sampleImage},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where pattern_id = #{patternId}
    </update>

    <delete id="deleteStableDiffusionPatternByPatternId" parameterType="Long">
        delete from stable_diffusion_pattern where pattern_id = #{patternId}
    </delete>

    <delete id="deleteStableDiffusionPatternByPatternIds" parameterType="String">
        delete from stable_diffusion_pattern where pattern_id in
        <foreach item="patternId" collection="array" open="(" separator="," close=")">
            #{patternId}
        </foreach>
    </delete>
</mapper>
